node_modules
.next
data

.env
.env.*
!.env.example

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.git
.github
.vscode

dev.db
*.db
*.db-journal
*.sqlite
*.sqlite3

tsconfig.tsbuildinfo
build-output.txt

.DS_Store
